body{
background-color: lavender;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
}

.container{
    margin: auto;
    max-width: 1100px;background-color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 500px
    ;
    margin-top: 50px;
}


#title{
    font-size: 55px;
}    
header{
    background-color: white;
    margin-top: -10px;
    
}


.first-button{
 background-color: deepskyblue ;
 margin-left: 240px;
 margin-top: 75px;
}
.first-ul{
    margin-left: 240px;
    margin-top: 75px;
    list-style: none;
}
.second-button{
    background-color: deepskyblue;
}
.blue-button{
    background-color: deepskyblue;

}
.first-none{
    list-style-type: none;
}
#purple-button{
    background-color: blueviolet ;
}
#green-button{
    background-color: green;
}
#orange-button{
    background-color: orange;
}
#pink-button{
    background-color: fuchsia;
}
#yellow-button{
    background-color: olive;
}