
body{
background-color: lavender;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
}


.container{
    margin: auto;
    max-width: 900px;background-color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 600px
    ;
    margin-top: 50px;
    border-radius: 5px;
    margin-left: 200px;
}


#title{
    font-size: 35px;
    vertical-align:20px;
}    
header{
    background-color: white;
    margin-top: -10px;
    
}


.first-button{
 background-color: deepskyblue ;
 color: white;

}


.second-button{
    background-color: white;
    color: grey;
}
.blue-button{
    background-color: deepskyblue;
    border-radius: 20px;
    color: white;

}
.first-none{
    list-style-type: none;
}

.purple-button{
    background-color: blueviolet ;
    border-radius: 20px;
    color: white;

}
.green-button{
    background-color: green;
    border-radius: 20px;
    color: white;

}
.orange-button{
    background-color: orange;
    border-radius: 20px;
    color: white;

}
.pink-button{
    background-color: fuchsia;
    border-radius: 20px;
    color: white;

}
.yellow-button{
    background-color: olive;
    border-radius: 20px;
    color: white;
